html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

div.floatholder {
  clear: both;
}

header {
  background: white;
  color: black;
  padding: .5rem 1rem;
  box-shadow: 0 0 20px #000;
}
header a, header a:visited, header a:hover, header a:active {
  color: black;
  text-decoration: none;
}
header .main {
  display: inline-block;
}
header li {
  list-style-type: none;
  display: inline-block;
}
header h1.logo {
  margin: 0;
  display: inline-block;
}

section.hero {
  background-color: #715ca8;
  position: relative;
  height: 25rem;
  z-index: -1;
}
section.hero.home:after {
  background: inherit;
  bottom: 0;
  content: "";
  height: 2em;
  left: Calc(50% - 1em);
  position: absolute;
  -webkit-transform: rotateZ(45deg) translateX(1.4em);
  width: 2em;
  z-index: 0;
}

section.workflow {
  background: #999;
  padding: 35px;
  position: relative;
  z-index: -2;
}
section.workflow ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section.workflow ul li {
  display: block;
  float: left;
  padding: 0 40px;
}

footer nav.social menu {
  list-style-type: none;
}
footer nav.social menu li {
  display: inline-block;
}
footer nav.social menu li a, footer nav.social menu li a:hover, footer nav.social menu li a:visited, footer nav.social menu li a:active {
  color: black;
  text-decoration: none;
}
