.contact {
	input,
	textarea {
		border: none;
		border-radius: 5px;
		display: block;
		font-size: 1rem;
		margin-top: 10px;
		padding: 7px 12px;

		&.submit {
			background: $magenta;
			color: rgba(255,255,255,1);
			box-shadow: 5px 5px 0 rgba(105,17,65,1), 4px 4px 0 rgba(105,17,65,1), 3px 3px 0 rgba(105,17,65,1), 2px 2px 0 rgba(105,17,65,1), 1px 1px 0 rgba(105,17,65,1);
		}
	}

	input[type="text"],
	input[type="email"],
	textarea {
		box-shadow: 5px 5px 0 rgba(200,200,200,1), 4px 4px 0 rgba(200,200,200,1), 3px 3px 0 rgba(200,200,200,1), 2px 2px 0 rgba(200,200,200,1), 1px 1px 0 rgba(200,200,200,1);
		// box-shadow: inset 5px 5px 0px rgba(0,0,0,.3);
		width: 25em;

		&:focus {
			box-shadow: 5px 5px 0px rgba(150,150,150,1);
			outline: none;
		}
	}

	textarea{
		resize: none;
	}
}