input,
textarea {
	margin-top: 50px;
	margin-left: 25px;
	padding: 7px 12px;
	border-radius: 5px;
	border: none;
	font-size: 1rem;

	&.submit {
		background: $magenta;
		color: rgba(255,255,255,1);
		box-shadow: 5px 5px 0 rgba(105,17,65,1), 4px 4px 0 rgba(105,17,65,1), 3px 3px 0 rgba(105,17,65,1), 2px 2px 0 rgba(105,17,65,1), 1px 1px 0 rgba(105,17,65,1);
	}
}