@font-face {
  font-family: 'iconfont';
  src: url("../assets/fonts/icon_font/iconfont.eot");
  src: url("../assets/fonts/icon_font/iconfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/icon_font/iconfont.woff") format("woff"), url("../assets/fonts/icon_font/iconfont.ttf") format("truetype"), url("../assets/fonts/icon_font/iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-about:before {
  content: "\e600"; }

.icon-blog:before {
  content: "\e601"; }

.icon-contact:before {
  content: "\e602"; }

.icon-work:before {
  content: "\e603"; }

.icon-behance:before {
  content: "\e604"; }

.icon-linked:before {
  content: "\e605"; }

.icon-plus:before {
  content: "\e606"; }

.icon-twitter:before {
  content: "\e607"; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  height: 100%; }

header {
  background: white;
  box-shadow: 0 15px 0 rgba(50, 50, 50, 0.15);
  color: black;
  font-size: 1.25rem;
  font-weight: 300;
  height: 5rem;
  padding: .5rem 2rem;
  width: 100%; }
  header nav {
    float: right; }
  header a, header a:visited, header a:hover, header a:active {
    color: black;
    text-decoration: none;
    text-transform: uppercase; }
  header .main {
    display: inline-block; }
  header li {
    display: inline-block;
    list-style-type: none; }
  header h1.logo {
    margin: 0;
    float: left; }
    header h1.logo img {
      width: 60%; }

div.floatholder {
  clear: both; }

section.hero {
  height: 25rem;
  padding: 2rem; }
  section.hero.home:after {
    background: inherit;
    bottom: 0;
    content: "";
    height: 2em;
    left: Calc(50% - 1em);
    position: absolute;
    -webkit-transform: rotateZ(45deg) translateX(1.4em);
    width: 2em;
    z-index: 0; }
  section.hero.contact {
    background-color: #75cbc7; }

section.workflow {
  background: #DDD;
  padding: 35px;
  position: relative;
  z-index: -2; }
  section.workflow ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    section.workflow ul li {
      display: block;
      float: left;
      padding: 0 40px; }

footer {
  height: 4rem; }
  footer nav.social {
    float: right; }
    footer nav.social menu {
      list-style-type: none; }
      footer nav.social menu a, footer nav.social menu a:hover, footer nav.social menu a:visited, footer nav.social menu a:active {
        color: black;
        text-decoration: none;
        font-family: "iconfont";
        font-size: 4rem; }
        footer nav.social menu a:before, footer nav.social menu a:hover:before, footer nav.social menu a:visited:before, footer nav.social menu a:active:before {
          color: #afafaf;
          -webkit-transition: color .4s; }
        footer nav.social menu a.icon-behance:hover:before, footer nav.social menu a:hover.icon-behance:hover:before, footer nav.social menu a:visited.icon-behance:hover:before, footer nav.social menu a:active.icon-behance:hover:before {
          color: #3fc0f0; }
        footer nav.social menu a.icon-linked:hover:before, footer nav.social menu a:hover.icon-linked:hover:before, footer nav.social menu a:visited.icon-linked:hover:before, footer nav.social menu a:active.icon-linked:hover:before {
          color: #1385c8; }
        footer nav.social menu a.icon-plus:hover:before, footer nav.social menu a:hover.icon-plus:hover:before, footer nav.social menu a:visited.icon-plus:hover:before, footer nav.social menu a:active.icon-plus:hover:before {
          color: #de4b39; }
        footer nav.social menu a.icon-twitter:hover:before, footer nav.social menu a:hover.icon-twitter:hover:before, footer nav.social menu a:visited.icon-twitter:hover:before, footer nav.social menu a:active.icon-twitter:hover:before {
          color: #79ccf0; }
        footer nav.social menu a li, footer nav.social menu a:hover li, footer nav.social menu a:visited li, footer nav.social menu a:active li {
          display: inline-block; }

.contact input,
.contact textarea {
  border: none;
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  margin-top: 10px;
  padding: 7px 12px; }
  .contact input.submit,
  .contact textarea.submit {
    background: #9e2969;
    color: white;
    box-shadow: 5px 5px 0 #691141, 4px 4px 0 #691141, 3px 3px 0 #691141, 2px 2px 0 #691141, 1px 1px 0 #691141; }
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  box-shadow: 5px 5px 0px #c8c8c8;
  width: 25em; }
  .contact input[type="text"]:focus,
  .contact input[type="email"]:focus,
  .contact textarea:focus {
    box-shadow: 5px 5px 0px #969696;
    outline: none; }
.contact textarea {
  resize: none; }
